
/* Bordered form */
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 30%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 35%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.pozadieprihlasenia{
    background-color: black;
    opacity: 0.85;
    color: white;
    border-radius: 4px
}


/* Add padding to containers */
.container {
    padding: 16px;
}

/* zabudnuté heslo*/
span.psw {
    float: right;
    padding-top: 16px;
}
.kontakt {
    margin-left: 20%;
    width: 50%; /* Full width */
    padding: 20px;/* Some padding */
    margin-bottom: 5%;
}
.pozadiekontaktu {
    background-color: black;
    opacity: 0.85;
    color: white;
    border-radius: 4px;
}
